/* generic styling */
.relative { position: relative; }
.absolute { position: absolute; }
.flex { display:flex; }
.flex-one { flex:1; }
.flex-column { flex-direction: column; }
.text-decoration-none { text-decoration: none; color:#000; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }
.justify-center { justify-content: center; }
.justify-end { justify-content: end; }
.align-center { align-items: center; }
.background-gold { background-color: #FFD30A; }
/* 2A292F */
.grey-background { background-color:#2A292F ; }
.background-white { background-color: #fff; }
.white { color:#fff; }
.white-on-black { color:white; background-color: black;}
.bold-italic { font-family: "Volkhov-BoldItalic"; }

.border-radius-50 { border-radius: 50%; }

.black-border { border:3px black solid; }
.black-outline { outline:5px black solid; }
.border-left { border-left:1.3px black solid;; }
.border-right { border-right:1.3px black solid;; }

.large-padding { padding:12%; }
.medium-padding { padding:9%; }
.small-padding { padding:6%; }
.very-small-padding { padding:3% }
.very-very-small-padding { padding:1%;}
.very-very-very-small-padding { padding:0.5%;}
.small-left-right-padding { padding:0 3%; }
.padding-bottom { padding-bottom: 10px; }
.padding-bot-top { padding:6% 0; }
.large-padding-bottom { padding-bottom: 40px; }

.margin-bot-top { margin:6% 0;}
.very-small-margin-top-medium-margin-bot { margin:2% 0 6% 0;}
.very-small-margin-bot-medium-margin-top { margin:6% 0 2% 0;}
.small-margin-bottom { margin-bottom: 6%; }
.margin-left-right { margin:0% 6%; }
.small-margin { margin:6%; }
.small-margin-left { margin-left: 3%; }
.small-margin-right { margin-right: 3%; }
.very-small-margin-right { margin-right: 1.5%; }
.margin-center { margin:0 auto; }
.margin-bottom { margin-bottom: 20px; }
.margin-right-auto { margin-right: auto; }
.margin-left-auto { margin-left:auto; }
.medium-left-margin { margin-left:12%; }

/* nav bar spefific styling */
.nav-height { height:72px; }
.left-nav { width:30%; }
.right-nav { width:70%; }

.text-align-center { text-align: center; }
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-justify { text-align: justify; }
.margin-right { margin-right: 40px; }
.min-width { min-width:12%; }
.max-width { max-width: 14.5%; }

.logo-wrapper { max-width: 140px; }
.logo-wrapper img { height:100%; width:100%; padding:20px; }
.cart-logo-height { height:26px; }
/* nav bar styling above ^ */

/* footer styling below */
.logo-wrapper-footer { max-width: 140px; }
.logo-wrapper-footer img { height:100%; width:100%; }
.input-email { border-bottom:3px rgba(0, 0, 0, 0.384) solid; border-top: 0; border-left:0; border-right:0; line-height: 20px; width:70%;}
.input-email:focus { outline:none; border-color: rgb(23, 23, 23); transition-delay: 0.05s;}

.black-estate-license { background-color: #000; }
.black-estate-license p { color:#fff; font-size: 10px; }

.footer-icon-wrapper { max-height:auto; max-width:auto; }
.footer-icon-wrapper img { height:100%; width:100%; margin:12px;}
/* footer styling above */

.landing-page-height { height:92vh; }
.background-landing-image {
    background-image: url("../img/landing-image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* black box border section */
.box { height:90%; width:66%; min-width:80px; left:32%; top:0; bottom:0; margin:auto 0;  border:3px black solid; z-index: -100; }
.section-one-homepage-flex-styling { justify-content: center; }
.view-tours-button { width:36%; min-width: 120px; max-width:300px; text-align: center; font-family:"Volkhov-Bold";}
.min-height-text { min-height: 360px; }
.max-width-text { max-width: 550px; }
.max-height-section-one-image img { height:100%; width:100%; object-fit: cover; object-position: 70%;}
/* black box border section */

/* carousel section */
.middle-wine-carousel-image-wrapper { height: 600px; max-width:190px }
.left-and-right-wine-carousel-image-wrapper { height: 500px; max-width:160px }
.middle-wine-carousel-image-wrapper img { height:100%; width:100%; object-fit: contain; }
.left-and-right-wine-carousel-image-wrapper img { height:100%; width:100%; object-fit: contain; }
.arrow-image-wrapper { max-height:160px; max-width: 160px; }
.arrow-image-wrapper img { height:100%; width:100%; }

.view-wine-button { max-width: 90px; }
.wine-cta { max-width: 400px; }
/* carousel section */

/* opaque section */
.background-image-join-club-homepage {
    background-image: url("../img/restaurant2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:80vh;
}
.height-flex { min-height: 20px; max-height: 50px; }
.join-black-estate-club-absolute-homepage {
    height:74%;
    width:40%;
    min-width: 500px;
    background-color:rgba(255, 255, 255, 0.93);
    z-index: 2;
    left:140px;
    top:0;
    bottom:0;
    margin:auto 0;
}
/* opaque section */

/* gallery section */
.dot-position { top:86%; left:0; right:0;}
.gallery-homepage { width:84%; margin:0 auto;}
.yellow-circle { width:24px; height:24px; background-color:#ffd30a;}
.white-circle { width:24px; height:24px; background-color:white;}
.wide-image-gallery-wrapper { height:60vh;  }
.wide-image-gallery-wrapper img { width:100%; height:100%; object-fit: cover; object-position: center; }
.change-image-gallery { top:80.5%; left:0; right:0; width:10px; }
/* gallery section */
